
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;                                 /* el tamaño final del elemento no aumentará porque incluye al padding y border */
}

body{
  
    display: grid;
    place-content: center;                                   /*  propiedad abreviada que combina las propiedades align-content y justify-content en una sola declaración */
    min-height: 100vh; 
    overflow: hidden;        
    user-select: none;  
    background: #e5e5e5;
}


main{
    background: url('./photos/iphone.webp') no-repeat ;
    background-size: contain;                               /* especifica que la imagen de fondo debe escalarse para ajustarse completamente dentro del contenedor */
    width: 400px;
    height: 800px;
    filter: drop-shadow(0 0 10px rgba( 0, 0, 0, 0.3));                      /* sombra a los bordes de la img pero no en la parte transparente que sobra de la img*/
    display:flex;
    zoom: .95
}

section{
    background: #f6f6f6;
    width: 100%;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    gap: 24px;                                              
    padding: 16px 6px;
    margin: 30px;
}

header{
    display: flex;
    justify-content: center;

    & img {                                                  /* seleccionar un hijo del padre */ 
        width: 24px;
        height: 24px;
    }
}

footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);                  /* crea 5 columnas , con fr  una fracción igual del espacio disponible en el eje horizontal */
    justify-items: center; 
    align-items: center;         
    gap: 12px;
    padding: 0 24px;
  
    & button{
        background: url( './photos/tinder-icons.webp') no-repeat;
        background-position: 0px 0px;                                   /* stablecer la posición inicial de una imagen de fondo */
        background-size: 200px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 1px solid #ccc;
        border: 0;
        cursor: pointer;
        transition: scale .3s ease;

        &:hover{
            scale: 1.4;
        }

        &.undo{
            background-position: -165px 0;                             /*  ajusta la posición de la imagen de fondo solo en la dirección horizontal y 0 la vertical */
        }

        &.remove{
            background-position: -124px 0;
        }

        &.star{
            background-position: -84px 0;
        }

        &.like{
            background-position: -42px 0;
        }

        &.ray{
            background-position: -2px 0;
        }
        
    }

}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    

    & article{
        cursor: grab;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        inset: 0;                                                            /* segun el position, se define los valores de top, right, bottom, y left en uno solo */
        border-radius: 8px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
    

        &.go-left{
            transform: translateX(-150%)  !important;                        /* translateX =  mover un elemento horizontalmente, en negativo a la izq. */
        }

        &.go-right{
            transform: translateX(150%)  !important;                         /* transform = cambia la posición, forma o tamaño del elemento de acuerdo con la función de transformación especificada */
        }

        &.go-left, &.go-right{                                             /* el punto de la calss tiene que ir pegado al &. (si va separado da error) */
            transition: transform .5s ease;                                /* transition =  para controlar la velocidad con la que las propiedades cambian de un estado a otro */
        }

        &.reset{
            transition: transform .4s ease;                               /* ease = la transición comienza lentamente, se acelera en el medio, y luego termina lentamente. Esto crea un efecto suave y natural */
            transform: translateX(0) !important;                         /* resetea la posición de la card */
        }

        


        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;                                         /* la imagen se ajusta al tamaño del contenedor sin distorsionarse */
        }

        & h2{
            color: white;
            position: absolute;
            inset: 0;
            display: flex;
            align-items: flex-end;
            height: 100%;
            width: 100%;
            padding: 16px;
            z-index: 3;
            background: linear-gradient(to top, #00000088 20%, transparent 40%);  
        }

        & span{
            margin-left: 7px;
            font-size: 20px;
            line-height: 1.3;
            font-weight: 400;

        }
        
        
    }   
}